# Remove '.example' from filename.

HOST="IP or Address"
USER="MYSQL Username"
PASSWORD="MYSQL User Password"
DATABASE="MYSQL Database Name"
TABLE="MYSQL Table Name"

BOTTOKEN="Discord Bot Token"
BOTID="Discord Bot ID"
OWNERID="Discrd Bot Owner ID"